
 .userPerfil{
    display: flex;
    align-items: center;
    }
    .userPerfil div{
  
      margin: 0 0 0 15px;
    }
   .userPerfil--img{
    width: 24px;
    height: 24px;
  } 
  
  header{
    padding: 15px ;
  }
  .dropdown-menu{
    background-color: #212529;
  }
  .dropdown-item{
    color: #fff;
  }
  .dropdown-item:hover{
    color: #fff;
    background-color: #3a3d41;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    top: 101%;
  }
  .cart-icon{
    fill: white;
  }
  nav a {
    text-decoration: none;
  }
  nav{
    background-color: var(--soft-primary-color);
    height: 63px;
  }
   main{
    margin-top: 33px;
   }
.active{
  text-decoration: underline 2px solid #fff;
}
  #userName{
    margin: 0 14px;
    align-self: center;
  }
  #userName:focus, #userName:active{
    color: #fff;
    background-color: #395055;
    border-color: #bbc5d4;
    box-shadow: none;
  }
.btn-primary{
  background-color: var(--primary-color);
  border-color: rgba(255, 255, 255, 0);
}

#navbarSupportedContent ul{
  min-width: 180px;
  justify-content: space-around;
  font-size: 1.3rem;
}
#navbarSupportedContent ul:first-child{
  min-width: 400px;
}
#navbarSupportedContent{

  font-weight: bold;
  justify-content: space-between;
}


/*------------------------------- CARRITO DE COMPRAS  -------------------------------*/

a.btn-primary:hover{
  background-color: #8ab9c0;
  color: #212529;
  border-color: rgba(255, 255, 255, 0);
}
#boxCart{
  position: relative;
}
#boxCart strong{
  color: #fff;
    position: absolute;
    height: 25px;
    width: 25px;
    top: -2px;
    left: calc(40% - -6px);
    background-color: #a6250f;
    border-radius: 50%;
}

#listCartDropdown{
  max-height: 50vh;
  overflow-y:scroll;
}
/*----------------------------- FIN CARRITO DE COMPRAS--------------------------------*/