input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1f5b64 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
    position: absolute;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1f5b64;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
input[type=number] {
  -moz-appearance: textfield;
}
 .userPerfil{
    display: flex;
    align-items: center;
    }
    .userPerfil div{
  
      margin: 0 0 0 15px;
    }
   .userPerfil--img{
    width: 24px;
    height: 24px;
  } 
  
  header{
    padding: 15px ;
  }
  .navbar-nav .dropdown-menu ,#listCartDropdown.dropdown-menu {
    position: absolute;
    background-color: #212529;
  }
  .dropdown-item{
    color: #fff;
  }
  .dropdown-item:hover{
    color: #fff;
    background-color: #3a3d41;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    top: 101%;
  }
  .cart-icon{
    fill: white;
  }
  .dropdown-toggle::after{
    content: none;
  }
  nav a {
    text-decoration: none;
  }
  nav{
    background-color: var(--soft-primary-color);
    
  }
   main{
    margin-top: 33px;
   }
   nav .container{
    background-color: transparent;
   }
.active{
  text-decoration: underline 2px solid #fff;
}
  #userName{
    margin: 0 14px;
    align-self: center;
  }
  #userName::after{
    content: "";
  }
  #userName:focus, #userName:active{
    color: #fff;
    background-color: #395055;
    border-color: #bbc5d4;
    box-shadow: none;
  }
.btn-primary{
  background-color: var(--primary-color);
  border-color: rgba(255, 255, 255, 0);
}

#navbarSupportedContent ul{
  min-width: 180px;
  justify-content: space-around;
  font-size: 1.3rem;
}
#navbarSupportedContent ul:first-child{
  min-width: 400px;
}
#navbarSupportedContent{

  font-weight: bold;
  justify-content: space-between;
}


/*------------------------------- CARRITO DE COMPRAS  -------------------------------*/
#CartDropdown{
  background: #fff;
  width: 300px;
}
.fa-trash:before {
  color: #fff;
  background: #c71522;
  content: "\f1f8";
  padding: 3px;
  border-radius: 4px;
}
a.btn-primary:hover{
  background-color: #8ab9c0;
  color: #212529;
  border-color: rgba(255, 255, 255, 0);
}
#boxCart{
  position: relative;
}
#boxCart strong{
  color: #fff;
    position: absolute;
    height: 25px;
    width: 25px;
    top: -2px;
    left: calc(40% - -6px);
    background-color: #a6250f;
    border-radius: 50%;
}

#listCartDropdown{
  max-height: 32vh;
  overflow-y:auto;
  background: #fff;
}
p.articleCant span{
  margin: auto 5px;
  padding: 2px 4px;
  color: #fff;
  border-radius: 4px;
}
.minorCant{
  margin: auto 5px;
  padding: 2px 4px;
  color: #fff;
  border-radius: 4px;
  background-color: #a6250f;
}
.moreCant{
  margin: auto 5px;
  padding: 2px 4px;
  color: #fff;
  border-radius: 4px;
  background-color: #309420;
}
.priceContainer{
  position: relative;
  width: 300px;
}
.priceContainer>div:first-child{
    width: 300px;
    position: fixed;
    padding: 5px 20px 0;
    margin-top: 5px;
    color: #fff;
    font-size: 1.2rem;
    background-color: #1f5b64;
}
.priceContainer>div:first-child+div{
  width: 300px;
  position: fixed;
  padding: 5px 20px 0;
  color: #fff;
  font-size: 1.2rem;
  background-color: #1f5b64;
  top: 99px;
  position: relative;
}
.dropdown-menu ul{
  padding: 0;
}
#listCartDropdown>li>.col-6.row{
  padding-top:10px ;
  margin: 0;
}
#listCartDropdown>li{
  margin: 0;
  padding-right: 0;
  cursor: pointer;
  color: #212529;
  background: #fff;
}
#listCartDropdown>li:hover{
  color: #fcfcfc;
  background: var(--primary-color);

}
.btn--verCarrito{
  height: 56px;
}
.btn--verCarrito a{
  min-width: 140px;
  width: 100%;
  justify-content: center;
  padding: 8px 10px;
  font-size: 1.2rem;
  border-radius: 4px;
  color: #fff;
  border: #fff 1px solid;
  background-color: var(--primary-color);
  display: flex;
  margin-top: -8px;
}
.btn--verCarrito a:hover{
  
  color: var(--soft-primary-color);
  background-color: #fff;

}
/*----------------------------- FIN CARRITO DE COMPRAS--------------------------------*/
@media (min-width: 992px) {
  nav{
    height: 63px;
  }
}
@media (min-width: 992px) {

  .navbar-nav{
    order: 1;
  }
}
