#ticketContainer>li>h2{
    border-bottom: 1px solid var(--primary-color);
}
#ticketContainer>li{
    border-radius: 12px;
}
#ticketContainer>li>div:last-of-type{
    display: flex;
    flex-direction: row-reverse;
}
#ticketContainer{
    justify-content: space-between;
}