:root{
  --primary-color: #b11a38 ;
  --soft-primary-color:#f45272;
}






.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Nunito', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

li{
  list-style: none;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/*         ESTILOS PARA LOGIN.HTML      */
#modalLogin{
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100%;
  background-color: rgba(73, 75, 71, 0.75);
  -webkit-transition: all 2s;
  transition:all 2s;
}

#modalLogin img{
  margin-top: 20px;
  border-radius: 3px;
}
#modalLogin>div{
  height: 570px;
  margin-top: 60px;
  background-color: #fff;
  max-width: 600px;
  padding-bottom: 40px;
  border-radius: 4px;
  box-shadow: #065454 1px 2px 34px 3px;
}
.overflow-hidden{
  overflow: hidden;
}
.container.center.d-flex{
  flex-direction:column;
  text-align: center;
  align-items: center;
}

.center.container.d-flex img{
  max-width: 500px;
}
.form-login--container{
  width: 300px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-login--container h2{
  font-weight: bold;
  color: #2595ae;
  margin-top: 10px;
  margin-bottom: 40px;
}

.form-control{
  border: var(--primary-color) solid 1px;
}

 input.form-control:focus{
  outline: #2595ae72 1px solid;
  border: #2595ae72 1px solid;

 }

 .userPerfil{
  display: flex;
  align-items: center;
  }
  .userPerfil div{

    margin: 0 0 0 15px;
  }
 .userPerfil--img{
  width: 24px;
  height: 24px;
} 

nav{
  height: 40px;
}

.dropdown-menu{

  background-color: #212529;
}
.dropdown-item{
  color: #fff;
}
.dropdown-item:hover{
  color: #fff;
  background-color: #3a3d41;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
  left: 40%;
}

#btn-cerrarSesion{
  text-align: center;
}
.input-group{
  align-items: flex-start;
}
.input-group label{
  align-self: center;
}
#clearRangeFilter:focus, #clearRangeFilter:hover{
  background-color: var(--soft-primary-color);
}
.form-label{
  margin: auto 8px;
}

.product-header{
  font-weight: 600;

}
.product-price{
  color: var(--primary-color);
  margin: auto;
  font-size: 1.3rem;
  font-weight: 600;

}
.product-cta-btn, .category-cta-btn{
  text-align: end;
}
.product-cta-btn button{
  padding: 8px 30px;
  font-size: 1.2rem;
  border-radius: 4px;
  color: aliceblue;
  border: var(--soft-primary-color);
  background-color: var(--primary-color);
}
.product-card{
  box-shadow: #5e616476 2px 4px 15px .1px;
}
.product-card img{
  border: none;
}

.category-cta-btn button:focus{
  background-color: var(--soft-primary-color);
}

.category-cta-btn button{
  padding: 8px 18px;
  font-size: 1.2rem;
  border-radius: 4px;
  color: aliceblue;
  border: var(--soft-primary-color);
  background-color: var(--primary-color);
}

.img-thumbnail{
  padding: 0;
  margin-top: .55rem;
}